<div class="top-nav">
  <div class="nav-item brand">
    <a href="/books"><img src="/img/book-it-button2.png" /></a>
  </div>
  <div class="hamburger-menu nav-item">
    <img src="/img/hamburger2.png" />
    <input type="checkbox" />
    <div class="hamburger-menu-toggle">
      <div class="drop-down-nav">
        <%- include('./links') %>
      </div>
    </div>
  </div>
  <div class="full-nav">
    <%- include('./links') %>
  </div>
</div>
<form action="/books/search" method="GET" class="search-form">
  <div class="radio-buttons">
    <label for="titleSearch">Title Search <input type="radio" name="searchType" value="intitle" id="titleSearch" checked /></label>
    <label for="authorSearch">Author Search <input type="radio" name="searchType" value="inauthor" id="authorSearch" /></label>
  </div>
  <%- include('../partials/form-group', { label: 'search', type: 'text' }); %>
  <div class="form-group">
    <button>Search</button>
  </div>
</form>
