<div class="top-nav">
  <div class="nav-container">
    <div>
      <img src="http://www.bookitprogram.com/Site/images/Logo_Swirl_PH.png" width="150px" />
    </div>
    <div>
      <nav>
        <a href="/books">Home</a>
      </nav>
    </div>
  </div>
</div>