<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
  <%- include('partials/book-header', { book: book }); %>
  <div class="book-data">
    <p><%= book.isbn %></p>
    <p><%= book.description %></p>
  </div>
</body>
</html>