/* GLOBAL */
body {
  background-color: rgb(17, 17, 17);
  width: 100vw;
  margin: 0 auto;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: whitesmoke;
}

/* BOOK INDEX */
.book-header {
  margin: 15px auto;
  background-color: white;
  padding: 25px;
  width: 70vw;
  color: #333333;
}

.book-header h3 {
  color: #333333;
  font-size: 1.5em;
  margin: 6px;
}

.book-header h4 {
  color: #e67429;
  font-size: .8em;
  margin-top: 6px;
  font-style: italic;
}

.book-header h6 {
  color: #333333;
  font-weight: bold;
  font-style: italic;
  margin: 6px;
}

.book-button {
  background-color: rgb(17, 17, 17);
  width: 100px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  box-shadow: -2px 2px 3px 0px rgba(0, 0, 0, 0.35);
}

.book-button a {
  text-decoration: none;
  color: white;
}

.book-description {
  background-color: rgb(226, 222, 222);
  padding: 20px;
}

/* NAV */
.top-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 5px;
  width: 100%;
}

.nav-item {
  width: 25%;
  max-width: 95px;
}

.nav-item img {
  width: 100%;
}

/* FORM */
form {
  display: flex;
  flex-direction: column;
  width: 60vw;
  margin: 0 auto;
  background-color: #e67429;
  padding: 30px;
  color: black;
}

label {
  padding: 6px;
}

input {
  margin-left: 17px;
}

input[type="submit"] {
  max-width: 200px;
  margin: 20px auto;
}
