<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head'); %>
<body>
  <%- include('../partials/nav'); %>
  <form method="POST" action="/books">
    <label for="title">Title:<input type="text" name="title" /></label>
    <label for="author">Author:<input type="text" name="author" /></label>
    <label for="isbn">ISBN 13:<input type="number" name="isbn" /></label>
    <label for="image_url">Image URL:<input type="text" name="image_url" /></label>
    <label for="description">Description</label><textarea name="description">
    </textarea>
    <input type="submit" value="Add Book" />
  </form>

</body>
</html>