<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
  <%- include('../partials/nav'); %>
  <form action="/books/search" method="GET" class="searchForm">
    <div class="radio-buttons">
      <label for="titleSearch">Title Search <input type="radio" name="searchType" value="intitle" id="titleSearch" checked /></label>
      <label for="authorSearch">Author Search <input type="radio" name="searchType" value="inauthor" id="authorSearch" /></label>
    </div>
    <%- include('../partials/form-group', { label: 'search', type: 'text' }); %>
    <div class="form-group">
      <button>Search</button>
    </div>
  </form>
</body>
</html>